.chat-box{
	max-width: 100%;
	max-height: 100%;
	height: 620px;
	border-right: 3px black solid;
}
.form-chat{
	position: absolute;
	bottom: 0;
}
.chat-text{
	position: relative;
	float: left;
	overflow: scroll;
}